<a href="https://colab.research.google.com/github/Minh-A/ARIMA_Dacon/blob/main/ARIMA_Dacon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [ ]:
# 구글 코랩 연결
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
import matplotlib as mpl
import matplotlib.pyplot as plt 
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima_model import ARMA

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# 날짜 처리 ARIMQ용
data1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/여름방학 세미나/input/201901-202003.csv')
data1 = data1.fillna('')

In [ ]:
data1

          REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT      AMT CNT
0           201901           강원         강릉시  ...         4   311200   4
1           201901           강원         강릉시  ...         7  1374500   8
2           201901           강원         강릉시  ...         6   818700   6
3           201901           강원         강릉시  ...         4  1717000   5
4           201901           강원         강릉시  ...         3  1047300   3
...            ...          ...         ...  ...       ...      ...  ..
24697787    202003           충북         충주시  ...         3    43300   4
24697788    202003           충북         충주시  ...         3    35000   3
24697789    202003           충북         충주시  ...         4   188000   6
24697790    202003           충북         충주시  ...         4    99000   6
24697791    202003           충북         충주시  ...         3   194000   3

[24697792 rows x 12 columns]

In [ ]:
# 2020 4월 데이터
data11 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/여름방학 세미나/input/202004.csv')
data11 = data11.fillna('')

In [ ]:
data11

         REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT      AMT CNT
0          202004           강원         강릉시  ...         3   779600   4
1          202004           강원         강릉시  ...        14  2427700  15
2          202004           강원         강릉시  ...        18  2184600  18
3          202004           강원         강릉시  ...        21  3653100  23
4          202004           강원         강릉시  ...        15  2765500  18
...           ...          ...         ...  ...       ...      ...  ..
1350317    202004           충북         충주시  ...         5    77000   5
1350318    202004           충북         충주시  ...         6    92000   6
1350319    202004           충북         충주시  ...         5   193000   5
1350320    202004           충북         충주시  ...         5    86000   7
1350321    202004           충북         충주시  ...         3   227000   4

[1350322 rows x 12 columns]

# 데이터 셋 생성

In [ ]:
# 데이터1 정제
data1_1 = data1.drop(['CARD_CCG_NM', 'HOM_CCG_NM','FLC','HOM_SIDO_NM','AGE','SEX_CTGO_CD','CSTMR_CNT','CNT'], axis=1)

columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
data1_1 = data1_1.groupby(columns).sum().reset_index(drop=False)
data1_1

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0       201901           강원             건강보조식품 소매업    148354746
1       201901           강원                골프장 운영업   1229200312
2       201901           강원            과실 및 채소 소매업   1286979106
3       201901           강원      관광 민예품 및 선물용품 소매업     30656770
4       201901           강원        그외 기타 스포츠시설 운영업     13101500
...        ...          ...                    ...          ...
9433    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
9434    202003           충북                한식 음식점업  16152482704
9435    202003           충북                    호텔업     15248550
9436    202003           충북          화장품 및 방향제 소매업    428881434
9437    202003           충북               휴양콘도 운영업     12733490

[9438 rows x 4 columns]

In [ ]:
# 데이터2 정제
data11_1 = data11.drop(['CARD_CCG_NM', 'HOM_CCG_NM','FLC','HOM_SIDO_NM','AGE','SEX_CTGO_CD','CSTMR_CNT','CNT'], axis=1)

columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
data11_1 = data11_1.groupby(columns).sum().reset_index(drop=False)
data11_1

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업     88823988
1      202004           강원                골프장 운영업   4708346820
2      202004           강원            과실 및 채소 소매업   1121028924
3      202004           강원      관광 민예품 및 선물용품 소매업     14360780
4      202004           강원        그외 기타 스포츠시설 운영업       227200
..        ...          ...                    ...          ...
605    202004           충북  피자 햄버거 샌드위치 및 유사 음식점업   1373635928
606    202004           충북                한식 음식점업  18911036160
607    202004           충북                    호텔업     14121500
608    202004           충북          화장품 및 방향제 소매업    450507431
609    202004           충북               휴양콘도 운영업      9328420

[610 rows x 4 columns]

In [ ]:
# 데이터1과 데이터2를 합치기
data2 = pd.concat([data1_1, data11_1], axis=0)
data2 = data2.reset_index(drop=True)
data2

       REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0        201901           강원             건강보조식품 소매업    148354746
1        201901           강원                골프장 운영업   1229200312
2        201901           강원            과실 및 채소 소매업   1286979106
3        201901           강원      관광 민예품 및 선물용품 소매업     30656770
4        201901           강원        그외 기타 스포츠시설 운영업     13101500
...         ...          ...                    ...          ...
10043    202004           충북  피자 햄버거 샌드위치 및 유사 음식점업   1373635928
10044    202004           충북                한식 음식점업  18911036160
10045    202004           충북                    호텔업     14121500
10046    202004           충북          화장품 및 방향제 소매업    450507431
10047    202004           충북               휴양콘도 운영업      9328420

[10048 rows x 4 columns]

In [ ]:
# 제공 데이터 인코딩
dtypes = data2.dtypes
encoders = {}
for column in data2.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(data2[column])
        encoders[column] = encoder
        
for column in encoders.keys():
    encoder = encoders[column]
    data2[column] = encoder.transform(data2[column])

In [ ]:
data2

       REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM          AMT
0        201901             0            0    148354746
1        201901             0            1   1229200312
2        201901             0            2   1286979106
3        201901             0            3     30656770
4        201901             0            5     13101500
...         ...           ...          ...          ...
10043    202004            16           36   1373635928
10044    202004            16           37  18911036160
10045    202004            16           38     14121500
10046    202004            16           39    450507431
10047    202004            16           40      9328420

[10048 rows x 4 columns]

In [ ]:
# 템플릿 생성
REG_YYMMs     = data2['REG_YYMM'].unique()
CARD_SIDO_NMs = data2['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = data2['STD_CLSS_NM'].unique()
STD_CLSS_NMs.sort()                                    # 매장 순서정렬을 위한 코드

temp = []
for REG_YYMM in REG_YYMMs:
    for CARD_SIDO_NM in CARD_SIDO_NMs:
        for STD_CLSS_NM in STD_CLSS_NMs:
            temp.append([REG_YYMM, CARD_SIDO_NM, STD_CLSS_NM])
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns= ['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'])

In [ ]:
temp

       REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM
0        201901             0            0
1        201901             0            1
2        201901             0            2
3        201901             0            3
4        201901             0            4
...         ...           ...          ...
11147    202004            16           36
11148    202004            16           37
11149    202004            16           38
11150    202004            16           39
11151    202004            16           40

[11152 rows x 3 columns]

In [ ]:
# 기초 데이터셋 생성
daset = pd.merge(temp, data2, how= 'left', left_on = ('REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'), right_on = ('REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'))

In [ ]:
daset

       REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM           AMT
0        201901             0            0  1.483547e+08
1        201901             0            1  1.229200e+09
2        201901             0            2  1.286979e+09
3        201901             0            3  3.065677e+07
4        201901             0            4           NaN
...         ...           ...          ...           ...
11147    202004            16           36  1.373636e+09
11148    202004            16           37  1.891104e+10
11149    202004            16           38  1.412150e+07
11150    202004            16           39  4.505074e+08
11151    202004            16           40  9.328420e+06

[11152 rows x 4 columns]

In [ ]:
# 결측치에 0을 넣기
daset=daset.fillna(0)
daset

       REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM           AMT
0        201901             0            0  1.483547e+08
1        201901             0            1  1.229200e+09
2        201901             0            2  1.286979e+09
3        201901             0            3  3.065677e+07
4        201901             0            4  0.000000e+00
...         ...           ...          ...           ...
11147    202004            16           36  1.373636e+09
11148    202004            16           37  1.891104e+10
11149    202004            16           38  1.412150e+07
11150    202004            16           39  4.505074e+08
11151    202004            16           40  9.328420e+06

[11152 rows x 4 columns]

In [ ]:
# 메인 키값 설정
daset['key'] = daset['CARD_SIDO_NM']*100 + daset['STD_CLSS_NM']
daset["AMT"] = np.log1p(daset['AMT'])
daset = daset[["key","AMT"]]
daset

        key        AMT
0         0  18.815117
1         1  20.929630
2         2  20.975564
3         3  17.238364
4         4   0.000000
...     ...        ...
11147  1636  21.040727
11148  1637  23.663012
11149  1638  16.463209
11150  1639  19.925885
11151  1640  16.048576

[11152 rows x 2 columns]

# 예측 코드

## 5월 예측 템플릿 만들기

In [ ]:
# 템플릿 만들기
newdata5 = daset.loc[daset['key']== 4]
newdata5 = newdata5.reset_index(drop= True)

In [ ]:
newdata5

    key        AMT
0     4   0.000000
1     4   0.000000
2     4   0.000000
3     4   0.000000
4     4  12.083911
5     4   0.000000
6     4   0.000000
7     4   0.000000
8     4   0.000000
9     4   0.000000
10    4   0.000000
11    4   0.000000
12    4   0.000000
13    4   0.000000
14    4   0.000000
15    4   0.000000

In [ ]:
# 템플릿 분할
newdata6 = newdata5.copy()
newdata7 = newdata5.copy()

In [ ]:
# 5월 예측 템플릿
for aa in range(17):
  for i in range(41):
    num = num = aa*100 + i
    print(num)
    ii = daset.loc[daset['key']==num]
    ii = ii.reset_index(drop= True)
    if ii["AMT"][0] == 0:
      print("결측치 있어")
      ii.loc[10000] = [num, 0]
      newdata5 = pd.concat([newdata5, ii], axis=0)
    else:  
      arma = ARIMA(ii["AMT"], order = (0,0,0))
      arima = arma.fit(trend = 'c', full_output = True, disp=1)
      bb = arima.forecast(steps=1)
      print(bb[0][0])
      ii.loc[10000] = [num, bb[0][0]]
      newdata5 = pd.concat([newdata5, ii], axis=0)

0
18.558410553484975
1
21.79319827351228
2
20.814152763143834
3
17.11671080310362
4
결측치 있어
5
15.400165000196209
6
19.952180552286187
7
22.7488559642487
8
14.830350722465166
9
20.796819475358262
10
19.5493899074469
11
22.743151655309656
12
14.023645320195708
13
17.310032316555162
14
4.058395091791018
15
11.999771318497514
16
20.89353176962436
17
20.86981528777813
18
21.50282185591142
19
20.258212788764222
20
23.045994754954993
21
21.749241438204887
22
20.29435884398926
23
18.46007930945157
24
19.129954221444663
25
21.301788951305394
26
20.963144178325685
27
21.3249521390982
28
15.005472423415519
29
19.88913958580718
30
결측치 있어
31
21.064845705942325
32
20.13071180734853
33
23.547327536722012
34
22.974322571004443
35
10.402349084263852
36
21.134585716739746
37
23.907418162476755
38
20.426659786205217
39
20.19790100894553
40
21.347232860090994
100
21.053941328638643
101
23.031131343759
102
22.678177666075044
103
18.655676765776775
104
결측치 있어
105
17.340063824760712
106
22.9272738601401
107
25.76117351622329
108
18.0144748799576
109
23.17434842182869
110
21.119208824862362
111
23.605620034246098
112
결측치 있어
113
19.823282428299787
114
결측치 있어
115
20.27989020435525
116
23.345303726227637
117
23.375853748552714
118
23.84741223965895
119
21.969325191349398
120
25.520982438646623
121
23.42475052852693
122
22.105252162033068
123
17.261460583554182
124
21.644404165613654
125
23.548505333132038
126
22.661991526705933
127
23.087400431888184
128
20.708260990395566
129
21.621341762731397
130
결측치 있어
131
23.516126690140286
132
21.838392271382762
133
25.56629448695135
134
25.265395122864625
135
18.910571194962316
136
23.58004282079981
137
26.11173392880307
138
19.231149841353705
139
22.48864329184643
140
18.638340368258472
200
19.658959422489133
201

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

22.24392584821616
202
21.752825650588843
203
17.69872608968206
204
13.098488188108767
205
15.949782106125458
206
20.775594289846556
207
23.81904598381382
208
14.703299201290427
209
21.3426353058073
210
20.303475245058785
211
23.125261854813772
212
17.050347038852514
213
17.702673265205632
214
결측치 있어
215
15.940661522062634
216
21.823786281528506
217
21.913639878107364
218
22.237168963367157
219
20.603063434754628
220
23.909346366421808
221
22.24600264030242

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

222
20.67481296257525
223
13.387978596090695
224
20.803054818099497
225
22.266551744859623
226
22.262138850652654
227
21.597166469973068
228
14.205446506736772
229
18.277315545688765
230
결측치 있어
231
21.668917786949663
232
20.923091117389077
233
24.50166105081674
234
23.706646593975663
235
16.7536524611533
236
22.151424718552
237
24.768848695487765
238
17.94230053813304
239
21.259537091673618
240
19.71311554435218
300
19.198336808792018
301
22.219084812748555
302
21.37565171572243
303
17.74913158766768
304
3.7177237833614987
305
15.356547058555066
306
20.157832235124236
307
23.36469011803328
308
13.894344778494547
309
20.927058785321076
310
19.696251221503744
311
22.83696343277159
312
12.318367222839566
313
16.632673114733283
314
결측치 있어
315
결측치 있어
316
21.39735557767414
317
21.481466053204738
318
21.749803512102172
319
20.913980619013763
320
23.85950791208823
321
22.249745261751027
322
19.968764348536496
323
9.896924699319086
324
20.058929603591853
325
22.313227127507705
326
21.013630248215783
327
20.858980970212464
328
14.708135678333454
329
18.679098035400745
330
결측치 있어
331
21.262573385174104
332
21.16262822563201
333
24.55791194085939
334
23.2879802027049
335
13.286656439783712
336
21.632811385548713
337
24.380702168693105
338
19.423568059354793
339
20.865039893604198
340
19.102726358170038
400
19.279404967454262
401
19.048537964129302
402
21.31456855946356
403
16.358852679754463
404
결측치 있어
405
15.816111576632869
406
21.146682205203074
407
23.010230471211052
408
11.084744836550877
409
20.61347505974223
410
19.894796198062192
411
20.44108245010382
412
13.602096487889648
413
18.35579002293481
414
결측치 있어
415
16.232431760540166
416
21.515761668895543
417
21.443211297238193
418
21.942341963391986
419
20.659821288209926
420
23.711888686948623
421
21.923450921037848
422
20.043188839972988
423
9.139494535554794
424
19.62453345726311
425
21.806234693720356
426
20.793841680434802
427
20.586264706916072
428
14.996269875076921
429
16.36231627960854
430
결측치 있어
431
21.2989877705649
432
20.574605662342268
433
23.48738906860941
434
22.904181428645973
435
결측치 있어
436
21.45685234180879
437
24.08878961165813
438
17.734915825842315
439
20.77322873955606
440
결측치 있어
500
19.481326801060167
501
19.03144490329262
502
21.618299066414117
503
16.966161468161086
504
결측치 있어
505
15.460194540577769
506

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

21.233327299813833
507
23.888928465518177
508
13.382152223943272
509
21.175817890724485
510
19.573251392792223
511
21.487941246018217
512
결측치 있어
513
16.603243381633547
514
16.756745512608706
515
7.3519184045243176
516
22.0311029665491
517
21.894943876449513
518
22.473064089890155
519
21.063727515882423
520
24.178013473129955
521
22.039510421767496
522
20.397330063375048
523
10.158394147594715
524
20.160232833203345
525
22.570647128426263
526
20.715721651617056
527
21.559336224189156
528
15.052005448872329
529
18.74715834478772
530
결측치 있어
531
21.76854599726622
532
20.870893088828677
533
23.9308647083
534
23.432103227405815
535
22.4772146069339
536
22.09450396851054
537
24.58029444883713
538
19.631817443052466
539
21.354873559090134
540
결측치 있어
600
18.74180969169234
601
19.15654277623518
602
20.656269314568412
603
16.541518923907283
604
결측치 있어
605
13.057567148940391
606
20.913869196207916
607
22.93334834116165
608
9.318860124828825
609
20.82864761184126
610
18.764816540323338
611
21.02419448514442
612
결측치 있어
613
16.870823107005386
614
결측치 있어
615
결측치 있어
616
21.013959005686203
617
21.35592211295789
618
21.688889916071695
619
20.384772484869956
620
22.870531696224454
621
20.797284200299135
622
19.72238479361598
623
결측치 있어
624
19.23607868072026
625
21.42491221489508
626
18.767619413468264
627
20.61132818267573
628
13.137154751751748
629
16.633346802635234
630
결측치 있어
631
21.08035239513548
632
20.011212748758712
633
22.980443703461294
634
22.654828891831567
635
결측치 있어
636
21.141234373917698
637
23.697515128602646
638
18.395144800014755
639
20.32556737627737
640
결측치 있어
700
19.981334971908634
701
20.983370853717
702
22.232656595228537
703
17.958875163706832
704
결측치 있어
705
16.052931903464938
706
21.324820644947536
707
24.841866296330803
708
14.311516431886009
709
21.59634273621232
710
21.195518723709515
711
20.781998733933463
712
12.798673482294799
713
17.435358334212104
714
19.90909710795534
715

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

13.749875319554718
716
22.352943664609388
717
22.201570990731884
718
22.88873431825788
719
20.525567005326952
720
24.018278031556903
721
22.488861262394785
722
21.16937499231341
723
17.055469770472392
724
21.058355752187282
725
22.35087188772813
726
22.119172605811542
727
22.080139736147046
728
16.17003501955002
729
19.422940130708028
730
21.727060583972076
731
22.030214852379128
732
20.56562371619886
733
24.098094991752713
734
23.92344340207243
735
22.119280742240278
736
22.519927205549173
737
24.99707365953375
738
21.063450328956772
739
21.788780760852678
740
19.566178897862823
800
21.019851249588584
801
19.529462787470553
802
22.720827919651466
803
19.02881810413276
804
결측치 있어
805
17.436356862891376
806
24.372167711831818
807
25.316407682350505
808
15.611675960693727
809
23.018774720615376
810
21.376359261291324
811
23.968156183382245
812
21.324568949432972
813
19.415472530704957
814
20.952165114240664
815
22.979982059831823
816
24.17637435187702
817

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

23.426622080996026
818
24.508820526754008
819
21.84327212364512
820
25.13632865295174
821
23.633164178505805
822
21.94710938840036
823
22.21217769528113
824
21.604475119813863
825
23.347449261411864
826
22.286135372826216
827
23.63478102794609
828
19.488512901799222
829
20.55846250408754
830
23.82649212689074
831
23.654181858125877
832
20.527108656121932
833
24.26008046421524
834
25.193829259808815
835
25.354516994427236
836
23.720982340825874
837
26.001786287768137
838
22.803358667296905
839
23.709429623124276
840
결측치 있어
900
16.407267125891867
901
18.836954447099682
902
19.77482930735628
903
11.59446041603779
904
결측치 있어
905
결측치 있어
906
16.485713623069906
907
21.21664122021259
908
0.6956384066550417
909
18.938280864579514
910
15.729054066515555
911
20.196671032692965
912
결측치 있어
913
14.110103173893405
914
결측치 있어
915
결측치 있어
916
19.396682669939135
917
19.47323993081678
918
19.98328172704065
919
17.52454983154084
920

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

21.056149177660096
921
18.842249606724813
922
15.567714297448248
923
결측치 있어
924
17.219608528780206
925
19.648408045932886
926
16.59598152641018
927
18.804105291296963
928
결측치 있어
929
15.489771945973054
930
결측치 있어
931
19.614829382819938
932
17.582122664137415
933
21.55731128615535
934
20.957574681072348
935
결측치 있어
936
19.504660634361073
937
21.82530717986698
938
결측치 있어
939
17.878422198970583
940
결측치 있어
1000
18.358296767973865
1001
20.15114736262919
1002
20.57645398010799
1003
15.738870384344109
1004
결측치 있어
1005
14.356049686417078
1006
21.521182325508736
1007
22.895625023965525
1008
12.568912663793505
1009
20.470848935505877
1010
19.790912231160554
1011
21.12443648088527
1012
결측치 있어
1013
17.626310467704307
1014
6.937180910161078
1015
15.880320790392712
1016
20.952392146790867
1017
20.868051235538577
1018
21.400482313633063
1019
19.724107774759553
1020
23.013157316763422
1021
21.1416343324612
1022
19.705440128703096
1023
13.111440950776874
1024
19.961196225623564
1025
21.78955372918063
1026
21.067563024524574
1027
20.45325639226822
1028
15.002627552529967
1029
17.05783281031135
1030
결측치 있어
1031
20.778482867653636
1032
19.5501165414624
1033
23.312966155532287
1034
22.64115395600038
1035
결측치 있어
1036
21.18834811415966
1037
23.78359615298069
1038
18.772973950042875
1039
20.201935246994623
1040
결측치 있어
1100
19.799890167096123
1101
20.95020780506784
1102
21.751290464304116
1103
16.38082480785188
1104
결측치 있어
1105
16.22374743232158
1106
19.54335441404922
1107
23.92890235993538
1108
16.303388350122795
1109
21.741937729807916
1110
20.184508605853626
1111
20.936671734866824
1112
19.93034379659407
1113
18.31776583331297
1114
22.923961207188142
1115
결측치 있어
1116
21.865404501229385
1117
21.851502205837285
1118
22.13892811434543
1119
20.966887921111677
1120
23.99158059129164
1121
22.398680420239383
1122
20.793801249329363
1123
14.620877844671382
1124
20.245136285756203
1125
22.10130944450219
1126
21.228915042572144
1127
21.629677361550037
1128
13.046751241363255
1129
18.995897762592296
1130
19.694414166986775
1131
21.845850960372296
1132
20.216474514617527
1133
23.887297680067064
1134
23.69491121916017
1135
18.710374231114898
1136
22.060822849494645
1137
24.5339630201772
1138
20.31287780815822
1139
20.916089132697586
1140
결측치 있어
1200
18.946805124800303
1201
21.703230663182925
1202
21.549219631991537
1203
16.100669973916705
1204
결측치 있어
1205
15.030386542456059
1206
21.779873637910157
1207
22.951877952168417
1208
결측치 있어
1209
20.26825256361075
1210
20.320768002772557
1211
22.87499240161489
1212
16.686695880854614
1213
18.406101855161264
1214
15.338970835485268
1215
15.03192698609748
1216
21.05967387525031
1217
21.064571256262088
1218
21.50086226034667
1219
20.685468811586134
1220
23.242924108422212
1221
21.80855614216816
1222
20.366741945229798
1223
15.22992814251651
1224
19.292933296063758
1225
21.61478613971111
1226
21.342079015483524
1227
20.799918924954497
1228
15.390655953675873
1229
19.770300514893272
1230
결측치 있어
1231
20.961108038146307
1232
20.63442764090656
1233
24.00341985749332
1234
22.715931469918388
1235
결측치 있어
1236
21.091117287016655
1237
24.03604510239168
1238
17.276998168196112
1239
20.307700532277817
1240
19.209583373046105
1300
19.25444696227971
1301
20.962334970740482
1302
21.246734211026393
1303
17.06833625985147
1304
결측치 있어
1305
15.602443877576096
1306
20.484135963738744
1307
23.181155803242834
1308
11.649570743516605
1309
21.12361999134742
1310
19.562842550032883
1311
22.15131515875157
1312
5.130872580345189
1313
17.580895364981345
1314
결측치 있어
1315
11.55916005704891
1316
21.37618308972283
1317
21.33811118849068
1318
21.803131633973965
1319
20.792443636941748
1320
23.533957266398275
1321
22.118858611202647
1322
19.948836011436885
1323
13.613548724021928
1324
19.79825886616878
1325
21.825264992342426
1326
20.636380659825647
1327
21.012921438691404
1328
15.404238520266189
1329
17.763419421985848
1330
20.666375930832697
1331
21.435303313387404
1332
20.917754494278924
1333
24.060117014532885
1334
22.933923850204668
1335
12.686062360540385
1336
21.34075995757306
1337
24.029652283201635
1338
13.708731285371698
1339
20.689664862556356
1340
19.224274848575547
1400
18.407610419463083
1401
21.039651703384592
1402
20.69084586249267
1403
19.296556027007878
1404
결측치 있어
1405
11.316838639101327
1406
21.58544906401221
1407
22.35726679776761
1408
결측치 있어
1409
19.945432688706504
1410
20.805027629332802
1411
21.8623542416244
1412
18.842623559862375
1413
15.1231917293524
1414
22.602845081597053
1415
결측치 있어
1416
20.580411439055
1417
20.806207535263958
1418
21.484664776735972
1419

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

20.669382609736722
1420
23.032889914051008
1421
21.500610753071065
1422
20.137200858354696
1423
17.025293947532788
1424
19.107724431060998
1425
20.74589633118849
1426
21.42156309239372
1427
20.96775401457709
1428
19.92153912728306
1429
19.543137798820975
1430
21.49331708206679
1431
20.58824318174819
1432
19.969393363326912
1433
22.89207786096524
1434
22.61882759016852
1435
결측치 있어
1436
20.75978314191651
1437
23.722764428989805
1438
20.723046384570974
1439
20.1449436743653
1440
19.664177232172545
1500
20.746408568565247
1501
20.8231333114742
1502
21.093754657190544
1503
17.170679249640727
1504
13.512769075825766
1505
15.629688049067354
1506
21.36579946720502
1507
23.14724394245246
1508
15.176132246498861
1509
21.130473450109484
1510
18.957815441742977
1511
22.65936480864774
1512
12.07778746724925
1513
17.43661486086929
1514
결측치 있어
1515
결측치 있어
1516
21.150805591112263
1517
21.422248013739047
1518

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

21.62841819163624
1519
20.972279247792347
1520
23.359415307383113
1521
21.885496268308742
1522
20.08624695817706
1523
16.08537259999717
1524
19.63764717277806
1525
21.72123482835251
1526
20.709569415419594
1527
21.101986789949162
1528
11.3439529746776
1529
17.586056493466057
1530
11.455555974535866
1531
21.500495238974143
1532
20.578830918972592
1533
24.195003163048973
1534
23.320132884506673
1535
6.529705133883361
1536
21.504061946940322
1537
24.12150881755774
1538
18.277867909596388
1539
20.99026401383899
1540
18.998174952883595
1600
18.929168930169904
1601
21.306102248985017
1602
20.40802339884972
1603
16.850073892885906
1604
결측치 있어
1605
15.291961729778127
1606
21.330248525134564
1607
22.820269251919648
1608
14.534571431436843
1609
20.877259212860125
1610
19.074040879770493
1611
21.88235017810175
1612
결측치 있어
1613
16.781326968724308
1614
7.520574905947882
1615
4.7203281263491235
1616
20.65570570115796
1617
20.968923750832335
1618
21.13848532092836
1619
19.277869945555782
1620
23.18809999540923
1621
21.54609160018421
1622
19.411092505184254
1623
결측치 있어
1624
19.1581666345745
1625
21.559327760980445
1626
20.18052259214197
1627
20.526494677290973
1628
11.752067072298733
1629
16.950967850296767
1630
결측치 있어
1631
21.063140386784802
1632
20.310669851405553
1633
23.83964636230459
1634
22.83936369841102
1635
12.26332323617472
1636
21.068642439917923
1637
23.790599526564005
1638
17.25463540706645
1639
20.203647190316527
1640
18.50439248378754

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [ ]:
# 2020년 5월 예측 템플릿
newdata5 = newdata5.iloc[16:,:].reset_index(drop= True)
newdata5

          key        AMT
0         0.0  18.815117
1         0.0  18.804008
2         0.0  18.510878
3         0.0  18.484111
4         0.0  18.813505
...       ...        ...
11844  1640.0  19.218517
11845  1640.0  17.667483
11846  1640.0  16.359746
11847  1640.0  16.048576
11848  1640.0  18.504392

[11849 rows x 2 columns]

## 6월 예측 템플릿 만들기

In [ ]:
# 6월 예측
for aa in range(17):
  for i in range(41):
    num = num = aa*100 + i
    ii = newdata5.loc[newdata5['key']==num]
    ii = ii.reset_index(drop= True)
    if ii["AMT"][0] == 0:
      ii.loc[10000] = [num, 0]
      newdata6 = pd.concat([newdata6, ii], axis=0)
    else:  
      arma = ARIMA(ii["AMT"], order = (0,0,0))
      arima = arma.fit(trend = 'c', full_output = True, disp=1)
      bb = arima.forecast(steps=1)
      ii.loc[10000] = [num, bb[0][0]]
      newdata6 = pd.concat([newdata6, ii], axis=0)

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [ ]:
# 2020년 6월 예측 템플릿
newdata6 = newdata6.iloc[16:,:].reset_index(drop= True)
newdata6

          key        AMT
0         0.0  18.815117
1         0.0  18.804008
2         0.0  18.510878
3         0.0  18.484111
4         0.0  18.813505
...       ...        ...
12541  1640.0  17.667483
12542  1640.0  16.359746
12543  1640.0  16.048576
12544  1640.0  18.504392
12545  1640.0  18.504392

[12546 rows x 2 columns]

## 7월 예측 템플릿 만들기

In [ ]:
# 7월 예측
for aa in range(17):
  for i in range(41):
    num = num = aa*100 + i
    ii = newdata6.loc[newdata6['key']==num]
    ii = ii.reset_index(drop= True)
    if ii["AMT"][0] == 0:
      ii.loc[10000] = [num, 0]
      newdata7 = pd.concat([newdata7, ii], axis=0)
    else:  
      arma = ARIMA(ii["AMT"], order = (0,0,0))
      arima = arma.fit(trend = 'c', full_output = True, disp=1)
      bb = arima.forecast(steps=1)
      ii.loc[10000] = [num, bb[0][0]]
      newdata7 = pd.concat([newdata7, ii], axis=0)

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [ ]:
# 2020년 7월 예측값
newdata7 = newdata7.iloc[16:,:].reset_index(drop= True)
newdata7

          key        AMT
0         0.0  18.815117
1         0.0  18.804008
2         0.0  18.510878
3         0.0  18.484111
4         0.0  18.813505
...       ...        ...
13238  1640.0  16.359746
13239  1640.0  16.048576
13240  1640.0  18.504392
13241  1640.0  18.504392
13242  1640.0  18.504392

[13243 rows x 2 columns]

# 4월과 7월 데이터만 뽑기

## 4월 데이터 넣기 (7월 28일 제공)

In [ ]:
# 제공 데이터 인코딩
dtypes = data11_1.dtypes
encoders = {}
for column in data11_1.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(data11_1[column])
        encoders[column] = encoder
        
for column in encoders.keys():
    encoder = encoders[column]
    data11_1[column] = encoder.transform(data11_1[column])

In [ ]:
data11_1

     REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM          AMT
0      202004             0            0     88823988
1      202004             0            1   4708346820
2      202004             0            2   1121028924
3      202004             0            3     14360780
4      202004             0            5       227200
..        ...           ...          ...          ...
605    202004            16           36   1373635928
606    202004            16           37  18911036160
607    202004            16           38     14121500
608    202004            16           39    450507431
609    202004            16           40      9328420

[610 rows x 4 columns]

In [ ]:
# 4월 템플릿 생성
REG_YYMMs     = [202004]
CARD_SIDO_NMs = data2['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = data2['STD_CLSS_NM'].unique()
STD_CLSS_NMs.sort()                                  

temp4 = []
for REG_YYMM in REG_YYMMs:
    for CARD_SIDO_NM in CARD_SIDO_NMs:
        for STD_CLSS_NM in STD_CLSS_NMs:
            temp4.append([REG_YYMM, CARD_SIDO_NM, STD_CLSS_NM])
temp4 = np.array(temp4)
temp4 = pd.DataFrame(data=temp4, columns= ['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'])

In [ ]:
temp4

     REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM
0      202004             0            0
1      202004             0            1
2      202004             0            2
3      202004             0            3
4      202004             0            4
..        ...           ...          ...
692    202004            16           36
693    202004            16           37
694    202004            16           38
695    202004            16           39
696    202004            16           40

[697 rows x 3 columns]

In [ ]:
# temp4 생성, 결측치에 0을 넣음
temp4 = pd.merge(temp4, data11_1, how= 'left', left_on = ('REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'), right_on = ('REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'))
temp4 = temp4.fillna(0)

In [ ]:
temp4

     REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM           AMT
0      202004             0            0  8.882399e+07
1      202004             0            1  4.708347e+09
2      202004             0            2  1.121029e+09
3      202004             0            3  1.436078e+07
4      202004             0            4  0.000000e+00
..        ...           ...          ...           ...
692    202004            16           36  1.373636e+09
693    202004            16           37  1.891104e+10
694    202004            16           38  1.412150e+07
695    202004            16           39  4.505074e+08
696    202004            16           40  9.328420e+06

[697 rows x 4 columns]

## 7월 데이터 예측

In [ ]:
# 템플릿 만들기
temp7 = daset.loc[daset['key']== 4]
temp7 = temp7.reset_index(drop= True)

In [ ]:
# 7월 예측 코드
for aa in range(17):
  for i in range(41):
    num = num = aa*100 + i
    print(num)
    ii = newdata6.loc[newdata6['key']==num]
    ii = ii.reset_index(drop= True)
    if ii["AMT"][0] == 0:
      print("결측치 있어")
      temp7.loc[num] = [num, 1]
    else:  
      arma = ARIMA(ii["AMT"], order = (0,0,0))
      arima = arma.fit(trend = 'c', full_output = True, disp=1)
      bb = arima.forecast(steps=1)
      print(bb[0][0])
      temp7.loc[num] = [num, bb[0][0]]

0
18.55841055511685
1
21.793198273235067
2
20.814152762692846
3
17.116710802774133
4
결측치 있어
5
15.40016500035211
6
19.952180552092067
7
22.74885596486961
8
14.830350722465155
9
20.79681947506332
10
19.549389905236236
11
22.74315165502464
12
14.023645320195698
13
17.310032316147748
14
4.058395091791016
15
11.999771318497505
16
20.893531767706293
17
20.86981528771855
18
21.5028218564992
19
20.258212788416472
20
23.045994754245356
21
21.74924143757822
22
20.294358843789006
23
18.460079310703946
24
19.12995422166937
25
21.301788951238102
26
20.963144179904127
27
21.32495213904777
28
15.005472422884463
29
19.889139585533297
30
결측치 있어
31
21.064845706527578
32
20.13071180879288
33
23.547327538652176
34
22.974322571578156
35
10.402349084263845
36
21.134585716795
37
23.907418160534505
38
20.426659782462973
39
20.197901010521164
40
21.347232860219066
100
21.053941328608268
101
23.031131343758986
102
22.678177667772097
103
18.655676764042383
104
결측치 있어
105
17.340063826066416
106
22.927273857845
107
25.76117351462492
108
18.014474884653705
109
23.174348421948267
110
21.11920882335497
111
23.605620034683884
112
결측치 있어
113
19.82328242779818
114
결측치 있어
115
20.27989020435524
116
23.34530372388136
117
23.37585374850512
118
23.84741223962329
119
21.96932519090571
120
25.52098243855955
121
23.424750527868213
122
22.105252161480802
123
17.261460581182824
124
21.64440416224622
125
23.54850533310307
126
22.66199152569153
127
23.08740042967312
128
20.708260987162426
129
21.62134176051636
130
결측치 있어
131
23.516126690111626
132
21.838392271759073
133
25.566294486859054
134
25.265395121381907
135
18.910571194702165
136
23.58004282063603
137
26.1117339285558
138
19.231149845475
139
22.48864329215452
140
18.638340368199476
200
19.658959422277405
201
22.24392584753621
202
21.75282565263662
203
17.698726090534233
204
13.098488184271826
205
15.949782106082806
206
20.775594291506145
207
23.819045983480436
208
14.703299197075738
209
21.34263530556181
210
20.30347524627909
211
23.12526185472851
212
17.050347037044013
213
17.702673264810606
214
결측치 있어
215
15.940661522062623
216
21.823786281315947
217
21.913639878242414
218
22.237168964200936
219
20.60306343418119
220
23.909346366256592
221
22.246002638367905
222

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

20.67481296412527
223
13.387978595603663
224
20.803054819419582
225
22.26655174440966
226
22.26213885072432
227
21.59716647206404
228
14.20544650817436
229
18.277315546860226
230
결측치 있어
231
21.66891778679228
232
20.923091117335773
233
24.50166105058308
234
23.70664659389978
235
16.75365246073077
236
22.15142471842106
237
24.768848693766667
238
17.942300534218994
239
21.25953709025779
240
19.713115546502564
300
19.19833680872427
301
22.219084813526234
302
21.375651713574584
303
17.749131589437244
304
3.717723783361495
305
15.356547058555053
306
20.15783223545307
307
23.36469011773231
308
13.894344781420292
309
20.92705878502253
310
19.69625122155077
311
22.836963432900095
312
12.31836722538163
313
16.632673119027448
314
결측치 있어
315
결측치 있어
316
21.39735557754641
317
21.48146605307532
318
21.749803514093166
319
20.91398061842516
320
23.859507911736806
321
22.249745261121117
322
19.968764347591883
323
9.89692469931908
324
20.058929599803147
325
22.313227127176855
326
21.013630250465383
327
20.858980970320538
328
14.708135676846238
329
18.679098038582318
330
결측치 있어
331

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

21.262573386259188
332
21.162628225548993
333
24.55791193851882
334
23.28798020131632
335
13.286656439848466
336
21.63281138557962
337
24.380702169258083
338
19.423568060391773
339
20.86503989322041
340
19.10272635816865
400
19.27940496662428
401
19.048537959179594
402
21.314568561158055
403
16.35885267983863
404
결측치 있어
405
15.816111574815077
406
21.14668220679431
407
23.010230471691266
408
11.0847448267134
409
20.61347505963758
410
19.894796198642748
411
20.441082450087414
412
13.6020963763772
413
18.355790022532375
414
결측치 있어
415
16.23243176060732
416
21.515761670689272
417
21.44321129710864
418
21.942341963110252
419
20.659821287185743
420
23.711888686930223
421
21.923450920608868
422
20.043188841631075
423
9.139494541441465
424
19.624533455548683
425
21.80623469555072
426
20.793841682186592
427
20.58626470684149
428
14.996269878663986
429
16.36231627714314
430
결측치 있어
431
21.298987769858847
432
20.574605662301714
433
23.487389068454615
434
22.90418142852778
435
결측치 있어
436
21.45685234170234
437
24.0887896116339
438
17.73491582583629
439
20.77322873949208
440
결측치 있어
500
19.481326801705972
501
19.03144490124876
502
21.61829906635254
503
16.96616146386031
504
결측치 있어
505
15.460194533122559
506
21.233327301477942
507
23.88892846336407
508
13.382152223943264
509
21.175817889894194
510
19.573251392942744
511
21.487941246295605
512
결측치 있어
513
16.60324338053796
514
16.756745512608695
515
7.351918404524311
516
22.03110296612278
517
21.894943876361253
518
22.47306408977125
519
21.063727515698123
520
24.17801347360012
521
22.03951042166036
522
20.39733006633713
523
10.158394147594706
524
20.160232835625763
525
22.57064712837498
526
20.715721654289013
527
21.559336222707152
528
15.052005448872318
529
18.7471583445861
530
결측치 있어
531
21.76854599696596
532
20.870893088797345
533
23.930864708292905
534
23.432103227944523
535
22.477214606781274
536
22.094503968130155
537
24.580294450069964
538
19.63181744243938
539
21.354873558244872
540
결측치 있어
600
18.741809690756238
601
19.156542774616657
602
20.656269316157317
603
16.54151892401206
604
결측치 있어
605
13.057567148021079
606
20.913869196180624
607
22.933348343139958
608
9.318860124828818
609
20.828647609244396
610
18.76481654053369
611
21.024194485319864
612
결측치 있어
613
16.87082310686829
614
결측치 있어
615
결측치 있어
616
21.013959003296133
617
21.355922112833188
618
21.6888899157105
619
20.384772484087197
620
22.870531696153044
621
20.79728419992253
622
19.722384794786905
623
결측치 있어
624
19.236078680794083
625
21.424912212952286
626
18.767619413586775
627
20.611328182505098
628
13.137154693055122
629
16.633346805105397
630
결측치 있어
631
21.08035239502629
632
20.011212748823297
633
22.9804437035514
634
22.654828889419164
635
결측치 있어
636
21.14123437406198
637
23.697515129191057
638
18.395144803473073
639
20.32556737460948
640
결측치 있어
700
19.98133496988507
701
20.983370853334446
702
22.232656595210216
703
17.958875163117128
704
결측치 있어
705
16.052931903464923
706
21.32482064465607
707
24.841866296553036
708
14.311516435049727
709
21.596342737511616
710
21.195518725369485
711
20.781998734272225
712
12.798673482294792
713
17.435358333685734
714
19.909097107397095
715
13.74987531955471
716
22.35294366602925
717
22.20157099029988
718
22.88873431804318
719
20.525567004996784
720
24.01827803169618
721
22.48886126051758
722
21.169374990303975
723
17.05546977055598
724
21.058355751922008
725
22.35087188823984
726
22.119172605225053
727
22.080139734021724
728
16.170035020392824
729
19.422940130527508
730
21.727060583972065
731
22.03021485392659
732
20.56562371663457
733

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

24.09809499180268
734
23.923443403293938
735
22.11928074030917
736
22.51992720533956
737
24.997073658977218
738
21.06345032739473
739
21.788780758636058
740
19.56617889685328
800
21.019851249502942
801
19.52946278298365
802
22.72082791795038
803
19.028818107887588
804
결측치 있어
805
17.43635686304793
806
24.37216771165284
807
25.316407681775935
808
15.611675960656635
809
23.01877472230596
810
21.376359260823122
811
23.968156183553067
812
21.324568949011866
813
19.415472530557594
814
20.952165114240646
815
22.979982060969647
816
24.176374351692886
817
23.42662208093248
818
24.50882052491292
819
21.843272122661404
820
25.13632865355316
821
23.63316417800342
822
21.947109388358996
823
22.21217769498543
824
21.604475120288303
825
23.347449261308174
826
22.286135373085255
827
23.63478102725307
828
19.488512903780478
829
20.558462503994797
830
23.826492126890727
831
23.654181859690294
832
20.52710865613472
833
24.260080463775715

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

834
25.193829260265147
835
25.35451699521725
836
23.720982340534807
837
26.001786287367217
838
22.80335866379852
839
23.709429620977495
840
결측치 있어
900
16.407267125872142
901
18.836954444999915
902
19.774829307137978
903
11.594460416037784
904
결측치 있어
905
결측치 있어
906
16.4857136229291
907
21.21664122019557
908
0.6956384106076269
909
18.938280864090775
910
15.729054066381355
911
20.196671034399046
912
결측치 있어
913
14.110103173893394
914
결측치 있어
915
결측치 있어
916
19.396682668048914
917
19.473239930707273
918
19.9832817262334
919
17.52454983179787
920
21.05614917747955
921
18.84224960685803
922
15.567714301275764
923
결측치 있어
924
17.21960852859847
925
19.64840804755232
926
16.595981526491023
927
18.804105290725662
928
결측치 있어
929
15.48977194597304
930
결측치 있어
931
19.614829382623387
932
17.582122663918305
933
21.557311288327508
934
20.95757467900159
935
결측치 있어
936
19.504660634357265
937
21.825307181597612
938
결측치 있어
939
17.878422200683897
940
결측치 있어
1000
18.358296767393128
1001
20.15114736410216
1002
20.576453977980787
1003
15.738870383145057
1004
결측치 있어
1005
14.356049686156199
1006
21.52118232543063
1007
22.895625022236516
1008
12.568912663793496
1009
20.47084893490533
1010
19.79091223123563
1011
21.124436480823906
1012
결측치 있어
1013
17.62631046768971
1014
6.937180910161072
1015
15.8803207903927
1016
20.95239214740175
1017
20.868051235569634
1018
21.40048231141582
1019
19.72410777445101
1020
23.013157316702696
1021
21.141634332858196
1022
19.705440128666474
1023
13.111440954845303
1024
19.961196226070197
1025
21.789553727052215
1026
21.067563023938668
1027
20.453256393718867
1028
15.00262755395847
1029
17.057832810311336
1030
결측치 있어
1031
20.778482867646158
1032
19.550116541463087
1033
23.312966155129875
1034
22.641153955691415
1035
결측치 있어
1036
21.18834811413277
1037
23.78359615325377
1038
18.772973949926083
1039
20.201935245516047
1040
결측치 있어
1100
19.7998901668765
1101
20.950207805067826
1102
21.75129046603092
1103
16.38082480771305
1104
결측치 있어
1105
16.223747434184684
1106
19.543354414041946
1107
23.928902360920343
1108
16.3033883472897
1109
21.741937727977046
1110
20.184508606144092
1111
20.936671733284985
1112
19.930343792996666
1113
18.31776583494662
1114
22.92396120718812
1115
결측치 있어
1116
21.865404499804555
1117
21.851502203487996
1118
22.13892811463246
1119
20.96688791935875
1120
23.991580591373314
1121
22.39868042160332
1122
20.79380124870982
1123
14.620877840748934
1124
20.245136282404317
1125
22.101309444398904
1126
21.22891504228411
1127
21.62967736171188
1128
13.04675128236396
1129
18.995897762176103
1130
19.69441416263481
1131
21.84585096028471
1132
20.216474516007374
1133
23.88729767999021
1134
23.694911218664537
1135
18.710374231227313
1136
22.06082284715448
1137
24.533963018025467
1138
20.31287780890044
1139
20.916089133162604
1140
결측치 있어
1200
18.946805124757926
1201
21.703230662632244
1202
21.549219631636575
1203
16.100669973433522
1204
결측치 있어
1205
15.030386542050643
1206
21.77987363819588
1207
22.951877949860986
1208
결측치 있어
1209
20.268252563656464
1210
20.32076800269867
1211
22.87499240136319
1212
16.686695877900743
1213
18.406101857087208
1214
15.338970835485258
1215
15.031926987858286
1216
21.059673872894564
1217
21.06457125686122
1218
21.50086226069982
1219
20.68546881152198
1220
23.242924108414993
1221
21.808556142560903
1222
20.36674194604197
1223
15.229928142512879
1224
19.292933296008123
1225
21.61478613932515
1226
21.34207901550832
1227
20.799918925355907
1228
15.390655950384591
1229

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

19.770300515539247
1230
결측치 있어
1231
20.961108037729083
1232
20.634427641423077
1233
24.00341985775226
1234
22.71593146838926
1235
결측치 있어
1236
21.09111728691958
1237
24.036045102281875
1238
17.276998167858544
1239
20.307700530045786
1240
19.20958337293422
1300
19.25444696425404
1301
20.962334970738613
1302
21.24673421006913
1303
17.068336259534583
1304
결측치 있어
1305
15.602443877621036
1306
20.48413596343695
1307
23.181155802513732
1308
11.649570743510392
1309
21.123619991175236
1310
19.56284255174798
1311
22.151315158541188
1312
5.130872580345185
1313
17.58089536642764
1314
결측치 있어
1315
11.559160057048901
1316
21.37618308799189
1317
21.338111188429913
1318
21.80313163396045
1319
20.792443636924197
1320
23.533957266330987
1321
22.11885861207399
1322
19.948836012950647
1323
13.613548724021918
1324
19.79825886594683
1325
21.825264991944575
1326
20.636380657993637
1327
21.012921438584335
1328
15.40423852068708
1329
17.763419418662274
1330
20.666375891518328
1331
21.435303312825138
1332
20.91775449399044
1333
24.060117016317605
1334
22.933923850271356
1335
12.686062365247103
1336
21.340759957510837
1337
24.029652285305577
1338
13.708731285371691
1339
20.68966486403844
1340
19.224274848575536
1400
18.407610420612485
1401
21.03965170386004
1402
20.690845863624173
1403
19.296556030611704
1404
결측치 있어
1405
11.31683871752956
1406
21.585449062528447
1407
22.357266798321717
1408
결측치 있어
1409
19.945432688356302
1410
20.805027629335036
1411
21.862354241185876
1412
18.842623558962206
1413
15.123191728767651
1414
22.60284508076023
1415
결측치 있어
1416
20.58041143832571
1417
20.806207535170582
1418
21.48466477828347
1419
20.669382609783728
1420
23.032889913938888
1421
21.500610752914838
1422
20.13720085833761
1423
17.025293949884023
1424
19.10772443093433
1425
20.745896329064415
1426
21.421563092213102
1427
20.96775401398112
1428
19.921539126557615
1429
19.5431377961128
1430
21.493317081924598
1431
20.5882431816739
1432
19.96939336297533
1433
22.892077860849106
1434
22.618827588414295
1435
결측치 있어
1436
20.75978314187335
1437
23.722764430916197
1438
20.723046384151566
1439
20.144943674202754
1440
19.66417723217253
1500
20.746408566508833
1501
20.823133315702986
1502
21.093754657146764
1503
17.170679250160152
1504
13.512769078244734
1505
15.629688049067344
1506
21.365799467360013
1507
23.14724394099435
1508
15.176132248305485
1509
21.13047345184117
1510

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

18.957815441351766
1511
22.659364810577767
1512
12.077787467249241
1513
17.43661486069146
1514
결측치 있어
1515
결측치 있어
1516
21.150805590891
1517
21.422248013650815
1518
21.62841818937942
1519
20.9722792484787
1520
23.359415306991053
1521
21.885496268148803
1522
20.086246957963976
1523
16.085372599850007
1524
19.637647172756687
1525
21.721234828109107
1526
20.709569413887124
1527
21.101986788185005
1528
11.343952974677592
1529
17.586056494866472
1530
11.455555974535859
1531
21.500495238289197
1532
20.578830918979335
1533
24.195003164756972
1534
23.320132884809805
1535
6.529705133883356
1536
21.504061947684825
1537
24.121508818870446
1538
18.277867909596374
1539
20.990264011029627
1540
18.99817495288358
1600
18.929168930026567
1601
21.30610224898512
1602
20.408023400473844
1603
16.850073894311187
1604
결측치 있어
1605
15.291961724445475
1606
21.33024852266093
1607
22.820269251829814
1608
14.534571435212596
1609
20.877259214858242
1610
19.07404087863619
1611
21.882350177904524
1612
결측치 있어
1613
16.781326963222305
1614
7.520574905947877
1615
4.720328183078589
1616
20.655705702911746
1617

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

20.968923750559227
1618
21.1384853209088
1619
19.277869946352702
1620
23.188099995218625
1621
21.54609159991129
1622
19.41109250664712
1623
결측치 있어
1624
19.158166634594558
1625
21.5593277603922
1626
20.180522592025014
1627
20.526494678746825
1628
11.752067111080603
1629
16.950967849837262
1630
결측치 있어
1631
21.06314038663739
1632
20.310669851203503
1633
23.83964636392522
1634
22.839363698789313
1635
12.263323236174713
1636
21.068642439510583
1637
23.790599526096443
1638
17.25463540819719
1639
20.20364719001603
1640
18.50439248378753

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [ ]:
# 7월 예측
temp7

         key        AMT
0        0.0  18.558411
1        1.0  21.793198
2        2.0  20.814153
3        3.0  17.116711
4        4.0   1.000000
...      ...        ...
1636  1636.0  21.068642
1637  1637.0  23.790600
1638  1638.0  17.254635
1639  1639.0  20.203647
1640  1640.0  18.504392

[697 rows x 2 columns]

In [ ]:
# 로그값을 지수값으로 변환
temp7["AMT"] = np.expm1(temp7["AMT"])

In [ ]:
temp7

         key           AMT
0        0.0  1.147665e+08
1        1.0  2.915183e+09
2        2.0  1.095145e+09
3        3.0  2.714520e+07
4        4.0  1.718282e+00
...      ...           ...
1636  1636.0  1.412522e+09
1637  1637.0  2.148454e+10
1638  1638.0  3.115968e+07
1639  1639.0  5.947473e+08
1640  1640.0  1.087315e+08

[697 rows x 2 columns]

# 데이콘 제출

In [ ]:
# 4월과 7월 합치기
dacon =  pd.concat([temp4, temp7], axis=0)
dacon = dacon.reset_index(drop= True)

In [ ]:
dacon

      REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM           AMT     key
0     202004.0           0.0          0.0  8.882399e+07     NaN
1     202004.0           0.0          1.0  4.708347e+09     NaN
2     202004.0           0.0          2.0  1.121029e+09     NaN
3     202004.0           0.0          3.0  1.436078e+07     NaN
4     202004.0           0.0          4.0  0.000000e+00     NaN
...        ...           ...          ...           ...     ...
1389       NaN           NaN          NaN  1.412522e+09  1636.0
1390       NaN           NaN          NaN  2.148454e+10  1637.0
1391       NaN           NaN          NaN  3.115968e+07  1638.0
1392       NaN           NaN          NaN  5.947473e+08  1639.0
1393       NaN           NaN          NaN  1.087315e+08  1640.0

[1394 rows x 5 columns]

In [ ]:
# 반올림
dacon['AMT'] = np.round(dacon["AMT"], 0)

In [ ]:
# 제출 데이터 불러오기
submission = pd.read_csv('/content/drive/My Drive/Colab Notebooks/여름방학 세미나/input/submission.csv', index_col=0)
submission = submission.drop(['AMT'], axis=1)

In [ ]:
# 제출 데이터랑 합치기
submission =  pd.concat([submission, dacon["AMT"]], axis=1)
submission.index.name = 'id'

In [ ]:
submission

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  8.882399e+07
1       202004           강원                골프장 운영업  4.708347e+09
2       202004           강원            과실 및 채소 소매업  1.121029e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  1.436078e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  0.000000e+00
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.412522e+09
1390    202007           충북                한식 음식점업  2.148454e+10
1391    202007           충북                    호텔업  3.115968e+07
1392    202007           충북          화장품 및 방향제 소매업  5.947473e+08
1393    202007           충북               휴양콘도 운영업  1.087315e+08

[1394 rows x 4 columns]

In [ ]:
# 파일 내보내기
submission.to_csv( '/content/drive/My Drive/Colab Notebooks/여름방학 세미나/input/ARIMA_submission_7.csv', encoding='utf-8-sig')
submission

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  8.882399e+07
1       202004           강원                골프장 운영업  4.708347e+09
2       202004           강원            과실 및 채소 소매업  1.121029e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  1.436078e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  0.000000e+00
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.412522e+09
1390    202007           충북                한식 음식점업  2.148454e+10
1391    202007           충북                    호텔업  3.115968e+07
1392    202007           충북          화장품 및 방향제 소매업  5.947473e+08
1393    202007           충북               휴양콘도 운영업  1.087315e+08

[1394 rows x 4 columns]

# pyramid Auto Arima의 오류

In [ ]:
a = newdata6.loc[newdata6['key']==0]
a = a["AMT"]
a

0     18.815117
1     18.804008
2     18.510878
3     18.484111
4     18.813505
5     18.400071
6     18.342781
7     18.410864
8     19.140244
9     18.568391
10    18.401341
11    18.371830
12    19.035914
13    18.152874
14    18.380473
15    18.575493
16    18.575493
17    18.575493
Name: AMT, dtype: float64

In [ ]:
from pyramid.arima import auto_arima
auto_arima(a)

/usr/local/lib/python3.6/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

AttributeError: ignored

In [ ]:
pip install pyramid

Requirement already satisfied: pyramid in /usr/local/lib/python3.6/dist-packages (1.10.4)
Requirement already satisfied: venusian>=1.0 in /usr/local/lib/python3.6/dist-packages (from pyramid) (3.0.0)
Requirement already satisfied: hupper>=1.5 in /usr/local/lib/python3.6/dist-packages (from pyramid) (1.10.2)
Requirement already satisfied: webob>=1.8.3 in /usr/local/lib/python3.6/dist-packages (from pyramid) (1.8.6)
Requirement already satisfied: plaster-pastedeploy in /usr/local/lib/python3.6/dist-packages (from pyramid) (0.7)
Requirement already satisfied: zope.deprecation>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from pyramid) (4.4.0)
Requirement already satisfied: plaster in /usr/local/lib/python3.6/dist-packages (from pyramid) (1.0)
Requirement already satisfied: zope.interface>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from pyramid) (5.1.0)
Requirement already satisfied: translationstring>=0.4 in /usr/local/lib/python3.6/dist-packages (from pyramid) (1.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pyramid) (49.1.0)
Requirement already satisfied: PasteDeploy>=2.0 in /usr/local/lib/python3.6/dist-packages (from plaster-pastedeploy->pyramid) (2.1.0)

# ARIMA X

In [ ]:
data2

       REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM          AMT
0        201901             0            0    148354746
1        201901             0            1   1229200312
2        201901             0            2   1286979106
3        201901             0            3     30656770
4        201901             0            5     13101500
...         ...           ...          ...          ...
10043    202004            16           36   1373635928
10044    202004            16           37  18911036160
10045    202004            16           38     14121500
10046    202004            16           39    450507431
10047    202004            16           40      9328420

[10048 rows x 4 columns]